# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Gradle (if using Gradle instead of Maven)
.gradle/
build/
*.log

# IntelliJ / Eclipse
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Dockerfile/Compose
docker-compose.yml
*.bak